@import '_variables.scss';

.image-container {
  margin: 20px;
  // background-color: #0000FF;
  display: flex;
  flex-direction: column;
  padding: 10px;
  max-width: 100%;
  max-height: 100%;

 .image-area {
   padding: 1px;
   height: inherit;
   display: flex;
   position: relative;
   max-width: 100%;
   max-height: 100%;
   object-fit: contain;
   height: 320px;
   justify-content: center;
   img {
     max-width: 100%;
     max-height: 320px;
     border: 2px solid $lightblue;
     object-fit: contain;
   }
 }
 .resolution {
   display: flex;
   flex-direction: row;
   justify-content: center;
   p {
     font-style: italic;
     font-size: 14px;
   }
 }
 .photo-source {
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-top: 10px;
 }
}


 .info {
   padding: 10px;
   display: flex;
   flex-direction: column;
   .photographer, .imageid {
     display: flex;
     flex-direction: row;
   }
   #name, #number {
     background-color: #FFFFFF;
     border: 2px solid #503466;
     padding: 2px;
   }
 }
