
.images-container {
  margin: 20px;
  // background-color: #0000FF;
  width: auto;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 292px);
  padding: 10px;
 .image-area {
   height: calc(100vh - 292px);
   width: auto;
   max-height: 100%;
   // background-color: #FFFF00;
   padding: 1px;

   img {
     max-width: 100%;
     max-height: 100%;

   }
 }
}
