
@import '_variables.scss';

.input-section {
  border: 2px solid #503466;
  display: flex;
  flex-direction: row;
  margin: 5px auto 5px auto;

  background-color: #FFFFFF;
  bottom: 0px;

  width: 100%;
  .input-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    p {
      font-size: 24px;
      color: #FFFFFF;
      text-align: center;
      width: 100%;
      background-color: $darkblue;
    }
    .buttons {
      display: flex;
      flex-direction: column;
      margin-right: 50px;
      button {
        margin: 5px;
        border-radius: 5px;
        height: 80px;
        width: 200px;
        color: #FFFFFF;
        border: none;
      }
      .assign-button {
        background-color: $medblue;
        &:hover {
          cursor: pointer;
          background-color: darken($medblue, 10%);
        }
      }
      .new-button {
        background-color: $lightblue;

        &:hover {
          cursor: pointer;
          background-color: darken($lightblue, 10%);

        }
      }
    }
  }
  .aside { //displays buttons and email input next to each other
    display: flex;
    flex-direction: row;
    justify-content: center;
    .triangle-container {
      position: relative;
      .triangle {
        width: 50px;
        height: 50px;
        background-color: $grey;
        border-radius: 5px;

        transform: rotate(45deg) translateX(-5px) translateY(24px);
        visibility: hidden;
      }
    }
      .popup {
        transform: translateY(-50px);
        display: flex;
        visibility: hidden;
        flex-direction: column;
        height: 170px;
        background-color: $grey;
        margin-top: 5px;
        border-radius: 5px;
        padding: 10px;

        label {
          color: $darkblue;
          font-weight: bold;
        }

        input {
          height: 40px;
          border-radius: 3px;
          border: 2px solid $darkblue;
        }
        .popup-buttons {
          display: flex;
          justify-content: space-evenly;
          margin: 25px 0px 10px 0px;
          button {
            height: 70px;
            width: 100%;
            border-radius: 5px;
            border: none;
            color: #FFFFFF;
        }
          .link-button {
            margin-right: 5px;
            background-color: #4ceb34;
            &:hover {
              cursor: pointer;
              background-color: darken(#4ceb34, 20%);
            }
          }
          .cancel-button {
            margin-left: 5px;
            background-color: #f0242e;
            &:hover {
              cursor: pointer;
              background-color: darken(#f0242e, 20%);
            }
          }
        }
      }
    }
  }

.rotate {
  transform: rotate(360deg);
}

@media screen and (min-width: $break-md) {
  .input-section {
    width: 300px;
    margin: 0px;
    bottom: 50px;
    left: 0px;
    visibility: visible;
    height: calc(100vh - 180px);
    .triangle-container {
      visibility: hidden;
    }
    .input-content {


      .buttons {
        flex-direction: column-reverse;
        margin: -50px 0px 0px 0px;
        padding: 5px;

        button {
          width: 100%;
          height: 40px;
          margin: 5px 0px 0px 0px;
        }
        .assign-button {
          display: none;
        }

  }
  }
  .aside {
    display: flex;
    flex-direction: column-reverse;
    .popup {
      visibility: visible !important;
      background-color: #FFFFFF;
      padding: 5px;
      .popup-buttons {

        .link-button {
          width: 100%;
          height: 40px;
          margin: 0px;
        }
        .cancel-button {
          display: none;
        }
      }
    }
  }
}
}
