@import '_variables.scss';


.menu-container {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
  width: 100%;
  z-index: 100;
  position: fixed;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: none;
  .menu {
    width: 450px;
    height: 100%;
    background-color: $lightblue;
    margin: 0px auto 0px auto;
    display: flex;
    flex-direction: column;
    h3 {
      color: #FFFFFF;
    }
    .list {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      border: 2px solid #FF0000;
      height: 100%;
      h5 {
        color: #FFFFFF;
      }
      .email-list, .id-list {
        border: 2px solid #FFFFFF;
      }
      .id-list {
        width: 20%;
      }
      .email-list {
        width: 100%;
      }
    }
  }
}
