@import 'header.scss';

* {
  box-sizing: border-box;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  letter-spacing: .4px;
  color: #666;
  line-height: 1.5;
  overflow-x: hidden;
}

body {
  background: #FFFFFF;
}
