.menu-container {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
  width: 100%;
  z-index: 100;
  position: fixed;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: none;
}

.menu-container .menu {
  width: 300px;
  height: 100%;
  background-color: #000000;
  margin: 0px auto 0px auto;
}

.menu-container .menu p {
  color: #FFFFFF;
}

.header-container {
  width: 100%;
  background-color: #FF0000;
  text-align: center;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-container .heading {
  display: flex;
  flex-direction: column;
}

.header-container .burger-container {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #FFFFFF;
  margin-right: 100px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header-container .burger-container .burger {
  height: 4px;
  width: 40px;
  background-color: #Fe23a0;
  margin: 2px;
}

.images-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  justify-content: center;
}

.images-container .image-area {
  padding: 1px;
  height: auto;
  display: flex;
  position: relative;
}

.images-container .image-area img {
  max-height: 800px;
  width: 500px;
  border: 2px solid #00FF00;
}

.input-section {
  border: 2px solid #FF0000;
  display: flex;
  flex-direction: row;
  margin: 5px auto 5px auto;
  justify-content: center;
  background-color: #FFFFFF;
}

.input-section .left {
  background-color: #FF0000;
  height: 100px;
  width: 100px;
  cursor: pointer;
  margin: 4px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 50%;
}

.input-section .left .arrow {
  height: 5px;
  width: 50px;
  border-radius: 3px;
  background-color: #FFFF00;
  margin: 14px;
}

.input-section .left .top1 {
  transform: rotate(-45deg);
}

.input-section .left .bottom1 {
  transform: rotate(45deg);
}

.input-section .right {
  background-color: #FF0000;
  height: 100px;
  width: 100px;
  cursor: pointer;
  margin: 4px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 50%;
}

.input-section .right .arrow {
  height: 5px;
  width: 50px;
  border-radius: 3px;
  background-color: #FFFF00;
  margin: 14px;
}

.input-section .right .top2 {
  transform: rotate(45deg);
}

.input-section .right .bottom2 {
  transform: rotate(-45deg);
}

.input-section .email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border: 2px solid #FF0000;
  width: 300px;
  height: auto;
}

.input-section .email label {
  height: 26px;
  display: flex;
  flex-direction: column;
  line-height: 2;
}

.input-section .email input {
  margin-bottom: 5px;
  width: 290px;
  height: auto;
  text-align: center;
}

.input-section .email button {
  width: 290px;
  height: auto;
  border-radius: 5px;
  margin-bottom: 5px;
  height: auto;
}

.footer-container {
  background-color: #FF0000;
  width: 600px;
  height: auto;
  text-align: center;
}

* {
  box-sizing: border-box;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  letter-spacing: .4px;
  color: #000000;
  line-height: 1.3;
}

.noheadnofoot {
  height: calc(100vh - 332px);
}

.width {
  width: 600px;
  padding: 0px;
  flex-direction: column;
  z-index: 10;
  background-color: #FFFFFF;
  height: 100vh;
}

.background {
  background-color: #ccc;
  justify-content: center;
  display: flex;
}
